#header img{
    width: 85px;
    border-radius: 10px;
}

#main .carousel-inner img{
    max-height: 70vh;
    object-fit: cover;
    filter: grayscale(70%);
}
#carousel{
    position: relative;

}
#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0,0.5 );
    color: whitesmoke;
    z-index: 1;

}
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

#place-time{
    background-color: #343a40;
    color: whitesmoke;
}
#place-time img{
    max-width: 100%;
    
}
